/* Variables */

:root {
  --max-width: 1170px;
  --color-text-red: #ff6060;
  --color-bcg-grey: #f6f6f6;
  --navbar-height: 8rem;
  --footer-height: 21rem;
  --radius-small: 10px;
  --radius-big: 2.5rem;
  --transition: all 0.3s linear;
}

/* End of variables */
